<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".common.CustomApplicationClass"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorLockVideoPhoto"
        android:usesCleartextTraffic="true"
        tools:targetApi="p">


        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-6447655601926357~4559249424" />-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name=".Activity.ActivitySplash"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.prism.hider.vault.CATEGORY_VAULT_ENTRY" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="yourapp" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.ActivityMain"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="false"
            android:screenOrientation="locked"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.securitylocks.SetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.securitylocks.SetPatternActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.securitylocks.ConfirmPasswordPinActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.securitylocks.ConfirmPatternActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.RecoveryOfCredentialsActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="locked" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.panicswitch.PanicSwitchActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.WalletEntriesActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.WalletEntryActivity"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.WalletCategoriesActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/lblFeature7" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.NotesFilesActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.MyNoteActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.NotesFoldersActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/lblFeature6" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.AudioPlayListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.HackAttemptActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.HackAttemptDetailActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.PhotosAlbumActivty"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/lblFeature1"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.ImportAlbumsGalleryPhotoActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.Photos_Gallery_Actitvity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.AudioActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.NewFullScreenViewActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.VideosAlbumActivty"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/lblFeature2"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.ImportAlbumsGalleryVideoActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.Videos_Gallery_Actitvity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.DocumentsFolderActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/lblFeature4"
            android:theme="@style/Theme.CalculatorLockVideoPhoto">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.DocumentsActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.DocumentsImportActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.DataRecoveryActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.ToDoActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/lblFeature10" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.ViewToDoActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.AddToDoActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/lblFeature3" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.CalculatorPinSetting"
            android:screenOrientation="locked" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.MyCalculatorActivity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.CalculatorLockVideoPhoto" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.AudiosImportActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.securitylocks.SecurityLocksActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true" />

        <activity
            android:name="calculatorlock.calculatorvault.calculatorhide.calculatorvaultlocker.gallerylock.Activity.AudioPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:screenOrientation="locked" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-u041g5ffkpo64o5" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent" />
    </application>
</manifest>